@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        Your order number is: @Model <br /><br />
        <img src="~/images/confirm.jpg" width="65%" />
        <div class="col-12 text-center" style="color: maroon">
            <br />
            Your order has been placed successfully! <br />
        </div>


    </div>
</div>