@model List<Category>

<div class="container">
    <div class="row pb-3">
        <div class="col-6">
            <h2>Category</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Category
            </a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Category
                </th>
                <th>
                    Display Order
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var category in Model) {
            <tr>
                <td>@category.Name</td>
                <td>@category.DisplayOrder</td>
            </tr>
            }
        </tbody>
    </table>
</div>